@font-face {
  font-family: "Cerebri Sans";
  src: url('./fonts/CerebriSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Cerebri Sans";
  src: url('./fonts/Cerebri Sans Bold.ttf');
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Cerebri Sans";
  src: url('./fonts/Cerebri Sans SemiBold.ttf');
  font-weight: 500;
  font-style: normal
}



